/* переходный блок */

.logo-2 {
    height: 43px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 15px;
}

.logo-2 img {
    margin: 0px 8px 0px 8px;
}

.mask-group {
    background-image: url("../Images/Step2/MaskGroup.jpg");
    background-size: cover;
    width: 817px;
    height: 434px;
    margin: 15px auto 62.5px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mask-group div:only-child {
    background-image: url("../images/Step2/Group 8.svg");
    background-size: cover;
    position: absolute;
    border-radius: 120px;
    width: 120px;
    height: 120px;
    z-index: 1;
}

/* форма для заявки */

hr {
    height: 2px;
    width: 60px;
    margin: auto;
    border: 1px solid #E3B873;
}

hr + p {
    width: 681px;
    height: 131px;
    margin: 35px auto 0px auto;
    font-family: "Nunito Sans";
    color: #363636;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
}

.application-form {
    width: 800px;
    height: 173px;
    margin: 94px auto 94px auto;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
}

.application-form > * {
    margin: 0px 20px 20px 20px;
}