/* переходный блок */

.third-section-title {
    color: white;
}

.third-section-logo {
    height: 43px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: static;
    margin: auto;
    margin-bottom: 15px;
}

.third-section-logo img {
    margin-left: 8px;
    margin-right: 8px;
}

.mask-group {
    background-image: url("../Images/Step2/MaskGroup.jpg");
    background-size: cover;
    padding-top: 20px;
    width: 817px;
    height: 434px;
    margin: auto;
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mask-group div:only-child {
    background-image: url("../images/Step2/Group 8.svg");
    background-size: cover;
    position: absolute;
    border-radius: 120px;
    width: 120px;
    height: 120px;
    z-index: 1;
}

/* форма для заявки */

hr {
    height: 2px;
    width: 60px;
    margin: auto;
    margin-top: 62.5px;
    border: 1px solid #E3B873;
}

hr + p {
    width: 681px;
    height: 131px;
    margin: auto;
    margin-top: 35px;
    font-family: "Nunito Sans";
    color: #363636;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
}

.application-form {
    width: 800px;
    height: 173px;
    margin:auto;
    padding-top: 94px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.application-form > * {
    margin: 0px 20px 20px 20px;
}

.input {
    position: relative;
    padding-left: 127px;
    height: 37px;
    width: 231px;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    border-bottom: solid 1px rgba(54, 54, 54, 0.3);
    font-family: "Nunito Sans";
    font-size: 14px;
    line-height: 23px;
    
}

.label::after {
    content: 'What is your name:';
    position: relative;
    bottom: 30px;
    left: 1px;
    font-family: "Nunito Sans";
    font-size: 14px;
    line-height: 23px;
    display: block;
    color: #363636;
}

.label2::after {
    content: 'Your phone number:' attr(data-domain);
}

.input-label {
    position: relative;
    bottom: -6px;
    font-family: "Nunito Sans";
    font-size: 13px;
    line-height: 22px;
    color: rgba(54, 54, 54, 0.5)
}

.checkbox {
    width: 18px;
    height: 18px;
    color: #E3B873;;
    outline: 0;
    position: relative;
}

