/* header */

.header {
    background-color: rgba(0, 0, 0, 0.93);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 83px;
}

.header-navigation {
    list-style: none;
    display: flex;
}

.logo, .number {
    color: #E3B873;
    font-family: "Nunito Sans";
    font-size: 11px;
    text-transform: uppercase;
}

.header-content button {
    Width: 161px;
    Height: 37px;
    padding: 13px 33px;
}

.header-navigation a:link, .header-navigation a:visited {
    margin-right: 47px;
    color: white;
    text-decoration: none;
    font-family: "Nunito Sans";
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
}

.header-navigation a:hover {
    color: #E3B873;
    text-decoration: none;
}

/* титульная страница */

.transparent-button {
    background-color: transparent;   
    border: 1px solid white;
    padding: 19px 23px;
    margin-left: 20px;
}

.first-section div p:first-child {
    font-size: 40px;
    line-height: 53px;
    width: 676px;
    color: #E3B873;
}

.first-section span {
    color: white;
}

.subtitle {
    position: static;
    font-size: 22px;
    line-height: 36px;
    width: 510px;
}

.application {
    display: flex;
    align-items: baseline;
    max-width: 540px;
}